
      <td>
            <%- code %>            
      </td>
      <td>
            <%- libelle %>            
      </td> 
      <td>
             <%- prixht %>           
      </td>       
      <td>
            <%- prixttc %>            
      </td> 
      <td>
            <input style="width: 72px;" class="form-control qty" type="number" value="<%- qtecdt %>"></input>            
      </td>            
      <td>

            <button class="destroy btn btn-warning">
                 <span class="glyphicon glyphicon-remove"></span>
             </button>          
      </td>     


