<div class="form-inline pull-right" id="typeahead-block">
	<div class="form-group">
		<input class="hide form-control" type=text id="new-product-part_number" size="4" disabled/>
	<input class="form-control hide" type=text id="new-product-vat-code" size="2">
	</div>
	<div class="form-group">	
		<input type="text"  id="new-product" class="typeahead tt-query" placeholder="Ajouter un produit ...">
	</div>
	<div class="form-group">
		<button id="enter" class="btn btn-default enter"><span class="glyphicon glyphicon-shopping-cart"></span></button>
		<input class="hide form-control" type="text" id="new-product-cost" size="6" disabled/>
	</div>	
</div>